footeage/*
web_flask/settings.py
notification_service/settings.py
notification_service/__pycache__/*
notification_service/core/__pycache__/*
notification_service/consumer/__pycache__/*
notification_service/core/email/__pycache__/*
notification_service/core/email/templates/__pycache__/*
notification_service/core/email/__pycache__/*   
web_flask/start.bat
web_flask/venv/
web_flask/__pycache__/*
web_flask/blueprints/__pycache__/*  
web_flask/blueprints/api_bluep/__pycache__/*
web_flask/blueprints/web_bluep/__pycache__/*
web_flask/core/db/__pycache__/*
web_flask/core/connector/__pycache__/*
tests/__pycache__/*
*.pyc
*/__pycache__/*
docker/postgres/data/*
docker/rabbitmq/data/*
docker/logs/*
logs/*
create_rmq.py
.venv/
